@media (max-width: 576px) {
    button {
        color: red !important;
    }
}

@media (max-width: 1560px) {
    button {
        color: red !important;
    }
}

@media (max-width: 768px) {


    button {
        margin: 20px 0;
        color: red;
    }
}