.App {
    text-align: center;
    background-color: #292D3E;
    height: 100vh;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}



@media (max-width: 768px) {
    .App {
        height: 170vh
    }
}